<h3 id="room_name"><%= params[:room_type] %></h3><hr>
<%= form_for(@booking) do |booking|%>
  <div class="row">
    <div class="col-sm-6">
      <label for="booking_check_in">Arrival</label>

      <div class="input-group date">
        <div class="input-group-addon">
         <span class="glyphicon glyphicon-calendar" for="booking_check_in" aria-hidden="true"></span>
        </div>
        <%= booking.text_field :check_in, class: "booking_date form-control pull-right", onkeydown:"return false"%>
      </div><br>

    <!--col-sm-6-->
    </div>
    
    <div class="col-sm-6">
      <label for="booking_check_out">Depature</label>

      <div class="input-group date">
        <div class="input-group-addon">
         <span class="glyphicon glyphicon-calendar" for="booking_check_out" aria-hidden="true"></span>
        </div>
        <%= booking.text_field :check_out, class: "booking_date form-control pull-right", onkeydown:"return false" %>
      </div><br>
      
    <!--col-sm-6-->
    </div>
  <!--row-->  
  </div>  

  <div class="form-group">
    <label for="booking_reason">Reason</label>
    <%= booking.text_area :reason, cols: 84, rows: 4, class: "form-control"%>
  </div>  

  <!-- Booked rooms only shows at update page -->
  <%if !@booking.new_record? %>
    <label>Booked Room :- </label>
    <%= booking.collection_check_boxes :room_ids, @booking.rooms.all, :room_id, :room_id  do |cb|%>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box + cb.text} %>
    <%end%>
    <br><br>
  <%end%>
  
  <label>Books your Rooms </label><br>
  <%= render "shared/spinner"%>
    <p id="select_rooms" class="text-center"></p>
  <br>
  
  <!-- create hide tag for send room category type to controller --> 
  <%= hidden_field_tag :room_type, params[:room_type] %>

  <div class="pull-right">
    <label>Total Amout :-</label>
    <font size="5"><span name="amount" id="amount"></span> &#x20B9;</font>
    <input type="hidden" name="booking[amount]" id="amount_hidden"/>
  </div><br><br>

  <div class="action text-center">
    <%= booking.submit(@booking.new_record? ? "Create Booking" : "Update Booking", class: "btn btn-primary") %>
  </div>
<%end%>
