<div style="margin-top: 7%">
  <h4>Booking Details</h4><hr>
  <div class="thumbnail">
    <div class="caption">
        <table class="row-border" cellspacing="0" width="100%" id="bookings">
          <thead>
              <tr>
                <th class="text-center">Index</th>
                <th class="text-center">Room type</th>
                <th class="text-center">Check In</th>
                <th class="text-center">Check Out</th>
                <th class="text-center">Rooms Booked</th>
                <th class="text-center">Resaon</th>
                <th class="text-center">Created</th>
                <th class="text-center">Action</th>
              </tr>
          </thead>
          <tbody>
            <% @booking.each_with_index do |booking, index|%>
                <tr>
                    <td class="text-center"><%= (index+1) %></td>
                    <td class="text-center"><%= booking.rooms[0].category.category_type %></td>
                    <td class="text-center"><%= booking.check_in%></td>
                    <td class="text-center"><%= booking.check_out %></td>
                    <td class="text-center"><%= booking.rooms.pluck(:room_id).join(",") %></td>
                    <td class="text-center"><%= truncate(booking.reason, length: 25, omission: '...') %></td>
                    <td class="text-center"><%= booking.created_at.strftime("%m/%d/%Y")  %></td>
                    <td class="text-center"><%= link_to "View", booking_path(booking)%></td>
                </tr>
            <%end%>
          </tbody>
        </table>
    </div>
    <!--caption-->
  </div>
  <!--thumbnail-->
</div>